@import './layout/css-reset';
@import './partials/variables';
@import './partials/mixins';
@import './layout/layout';

body {
  color: var(--text-primary);
  background: var(--fill-white);
}

header {
  display: flex;
  flex-direction: row;
  background: var(--fill-white);
  height: 8rem;
  min-height: 8rem;
  position: sticky;
  top: 0;
  z-index: 999;
  inset: 0;
  overflow: hidden;
  color: #030e16;
  border-bottom: 1px solid #eaeff3;
  .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.04rem;
    margin: 0 auto;
    height: 8rem;
    align-items: center;
    max-width: 124.8rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  // min-height: calc(100vh - 8rem - 6.5rem);
  min-height: unset;
}

footer {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  border-top: 1px solid #eaeff3;
  background: var(--fill-white);
  z-index: 3;
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.04rem;
    margin: 0 auto;
    align-items: center;
    max-width: 124.8rem;
  }
}

.button {
  @include button;
  &.primary {
    @include button-primary;
    &.hide {
      display: none;
    }
  }
  &.secondary {
    @include button-secondary;
    &.hide {
      display: none;
    }
  }
  &.tertiary {
    @include button-tertiary;
    &.hide {
      display: none;
    }
  }
  &.large {
    @include button-large;
    &.hide {
      display: none;
    }
  }
  &.medium {
    @include button-medium;
    &.hide {
      display: none;
    }
  }
  &.small {
    @include button-small;
    &.hide {
      display: none;
    }
  }
}

.gap-3 {
  gap: 3rem;
}

.mar-30-b {
  margin-bottom: 3rem;
}
